:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color: #2196f3;
  --main-color: #212121;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ===== COMPONENTS ===== */
.logo-link,
.logo-link-dark-theme {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-link {
  color: #000000;
}
.logo-link-dark-theme {
  color: #ffffff;
}
.logo {
  color: var(--color);
}
.what-we-do-title,
.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link-google-maps:hover,
.address-list-link-google-maps:focus {
  color: var(--color);
}

.buttons-list-btn,
.first-section-btn {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
}

/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.bar::after {
  content: "";
  width: 58px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: -32px;
  left: 0;
}
.bar-agency::after {
  content: "";
  width: 53px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: -32px;
  left: 0;
}
.icon-navi {
  margin-right: 10px;
  fill: currentColor;
}
.head-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.head-section {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
}
.navigation-list,
.contact-list {
  display: flex;
  align-items: center;
}
.logo-link:not(:last-child) {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}
.navigation-list-item {
  position: relative;
}
.contact-list-item:not(:first-child) {
  margin-left: 50px;
}
.navigation-list-link,
.contact-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link {
  color: #212121;
}
.contact-list-link {
  color: #757575;
}
/* ===== END HEADER ===== */

/* ===== INDEX SECTION 1 ===== */
.first-section .container {
  height: 600px;
}
.first-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 696px;
  padding-bottom: 30px;
}
.first-section-btn {
  display: block;
  font-weight: bold;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 41px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}
.first-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/brackground.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}
/* ===== END INDEX SECTION 1 ===== */

/* ==== ARTICLE SECTION ==== */

.icon-article {
  width: 70px;
  height: 70px;
}
.icon-article-container {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article .container {
  width: 1200px;
  padding-bottom: 0;
}
.article-list {
  display: flex;
}
.article-list-item:not(:last-child) {
  padding-right: 30px;
}
.article-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.article-list-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ==== END ARTICLE SECTION ==== */

/* ===== INDEX SECTION 2 ===== */
.what-we-do-list {
  display: flex;
}
.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do-title {
  padding-bottom: 50px;
}
.what-we-do-item {
  position: relative;
}
.what-we-do-box {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
}
.what-we-do-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
/* ===== END INDEX SECTION 2 ===== */

/* ===== INDEX SECTION 3 ===== */

.about-us-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-us-social-link:hover,
.about-us-social-link:focus {
  background-color: var(--color);
  color: #ffffff;
}
.about-us-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.about-us-social-icon:hover,
.about-us-social-icon:focus {
  fill: currentColor;
}
.about-us-list {
  display: flex;
}
.about-us-item:not(:last-child) {
  margin-right: 30px;
}
.about-us-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.about-us-name {
  padding-top: 30px;
}
.about-us-title {
  padding-bottom: 50px;
}
.about-us-description {
  padding-top: 10px;
  margin-top: 0;
}
.about-us-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-us-description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.about-us {
  background: #f5f4fa;
}
/* ===== END INDEX SECTION 3 ===== */

/* ===== INDEX SECTION 4 ===== */
.clients-list {
  display: flex;
}
.clients-logo {
  fill: currentColor;
}
.clients-list-item:not(last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--color);
  border: 1px solid var(--color);
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
/* ===== END INDEX SECTION 4 ===== */

/* ===== FOOTER ===== */
#foo-form {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.foo-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foo-email {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}
.foo-email:focus-visible {
  outline: none;
}
.foo-btn {
  background-color: var(--color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.foo-icon-sent {
  margin-left: 24px;
}
.foo-side {
  margin-left: 78px;
}
.foo-form-row {
  display: flex;
  align-items: center;
}
.foot-right-side-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-right-side-item:not(:last-child) {
  margin-right: 10px;
}
.foot-right-side-link:hover,
.foot-right-side-link:focus {
  background-color: var(--color);
}
.foot-right-side-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.foot-right-side-list {
  display: flex;
}
.foot-wrapper {
  display: flex;
  align-items: flex-start;
}
.foot-right-side {
  padding-left: 70px;
  padding-top: 12px;
}
.foot-right-side-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  padding-bottom: 20px;
}
.foot .container {
  padding-top: 60px;
}
.address {
  padding-top: 20px;
  padding-bottom: 60px;
}
.address-list-item:not(:first-child) {
  padding-top: 9px;
}
.foot {
  background: #2f303a;
}
.address-list-link,
.address-list-link-google-maps {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-list-link-google-maps {
  color: #fff;
}
/* ===== END FOOTER ===== */

/* ===== PORTFOLIO BUTTONS ===== */
.buttons-list {
  display: flex;
  width: 572px;
  padding-left: 310px;
  padding-bottom: 34px;
}
.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}
.buttons-list-btn {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list-btn:hover,
.buttons-list-btn:focus {
  background-color: var(--color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ===== END PORTFOLIO BUTTONS ===== */

/* ===== PORTFOLIO GALLERY ===== */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  opacity: 0.9;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-description {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 49px;
  left: 24px;
  width: 301px;
  margin: 0;
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-list-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-border-bottom {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
.portfolio-list-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}
/* ===== END PORTFOLIO GALLERY ===== */
/* ===== MODAL WINDOW ===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-window-close-icon {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.contact-form-gr {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 448px;
  display: flex;
  flex-direction: column;
}
.contact-lbl {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}
.contact-inpt::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-inpt {
  min-height: 40px;
  width: 448px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-inpt:focus-visible {
  outline: none;
}
.contact-inpt:focus-within {
  border-color: var(--color);
}
.contact-inpt:focus-within + svg {
  fill: var(--color);
}
.txtarea {
  resize: none;
  min-height: 120px;
  margin-bottom: 10px;
  padding: 12px 16px;
}

.form-link {
  color: var(--color);
}
.svg-phone,
.svg-person,
.svg-email {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#contact-details {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  margin: 0;
}
.contact-lbl:not(:last-child) {
  padding-bottom: 10px;
}
.agreement {
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  height: 0px;
  width: 0px;
  opacity: 0;
}
.agreement::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-inpt:checked + .agreement::before {
  background-color: #2196f3;
  background-image: url(../images/Vector.svg);
  background-size: 11px 8px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.agreement-src {
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
}
.form-submit {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
/* ===== END MODAL WINDOW ===== */
