:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color: #2196f3;
  --main-color: #212121;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ===== COMPONENTS ===== */
.logo-link,
.logo-link-dark-theme {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-link {
  color: #000000;
}
.logo-link-dark-theme {
  color: #ffffff;
}
.logo {
  color: var(--color);
}
.what-we-do-title,
.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link-google-maps:hover,
.address-list-link-google-maps:focus {
  color: var(--color);
}

.buttons-list-btn,
.first-section-btn {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
}
/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.icon-navi {
  margin-right: 10px;
  fill: currentColor;
}
.head-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.head-section {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
}
.navigation-list,
.contact-list {
  display: flex;
  align-items: center;
}
.logo-link:not(:last-child) {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}
.contact-list-item:not(:first-child) {
  margin-left: 50px;
}
.navigation-list-link,
.contact-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.navigation-list-link {
  color: #212121;
}
.contact-list-link {
  color: #757575;
}
/* ===== END HEADER ===== */

/* ===== INDEX SECTION 1 ===== */
.first-section .container {
  padding-left: 252px;
  padding-top: 200px;
  padding-bottom: 280px;
}
.first-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 696px;
  padding-bottom: 30px;
}
.first-section-btn {
  font-weight: bold;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  margin-left: 252px;
  padding: 0 41px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}
.first-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/brackground.jpg");
  background-repeat: no-repeat;
  background-size: 1600px, cover;
}
/* ===== END INDEX SECTION 1 ===== */

/* ==== ARTICLE SECTION ==== */

.icon-article {
  width: 70px;
  height: 70px;
}
.icon-article-container {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article .container {
  width: 1200px;
  padding-bottom: 0;
}
.article-list {
  display: flex;
}
.article-list-item:not(:last-child) {
  padding-right: 30px;
}
.article-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.article-list-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ==== END ARTICLE SECTION ==== */

/* ===== INDEX SECTION 2 ===== */
.what-we-do-list {
  display: flex;
}
.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do-title {
  padding-bottom: 50px;
}
/* ===== END INDEX SECTION 2 ===== */

/* ===== INDEX SECTION 3 ===== */

.about-us-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  color: #afb1b8;
}
.about-us-social-link:hover,
.about-us-social-link:focus {
  background-color: var(--color);
  color: #ffffff;
}
.about-us-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.about-us-social-icon:hover,
.about-us-social-icon:focus {
  fill: currentColor;
}
.about-us-list {
  display: flex;
}
.about-us-item:not(:last-child) {
  margin-right: 30px;
}
.about-us-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.about-us-name {
  padding-top: 30px;
}
.about-us-title {
  padding-bottom: 50px;
}
.about-us-description {
  padding-top: 10px;
  margin-top: 0;
}
.about-us-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-us-description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.about-us {
  background: #f5f4fa;
}
/* ===== END INDEX SECTION 3 ===== */

/* ===== INDEX SECTION 4 ===== */
.clients-list {
  display: flex;
}
.clients-logo {
  fill: currentColor;
}
.clients-list-item:not(last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--color);
  border: 1px solid var(--color);
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
/* ===== END INDEX SECTION 4 ===== */

/* ===== FOOTER ===== */
.foot-right-side-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.foot-right-side-item:not(:last-child) {
  margin-right: 10px;
}
.foot-right-side-link:hover,
.foot-right-side-link:focus {
  background-color: var(--color);
}
.foot-right-side-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.foot-right-side-list {
  display: flex;
}
.foot-wrapper {
  display: flex;
  align-items: flex-start;
}
.foot-right-side {
  padding-left: 70px;
  padding-top: 12px;
}
.foot-right-side-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  padding-bottom: 20px;
}
.foot .container {
  padding-top: 60px;
}
.address {
  padding-top: 20px;
  padding-bottom: 60px;
}
.address-list-item:not(:first-child) {
  padding-top: 9px;
}
.foot {
  background: #2f303a;
}
.address-list-link,
.address-list-link-google-maps {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.address-list-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-list-link-google-maps {
  color: #fff;
}
/* ===== END FOOTER ===== */

/* ===== PORTFOLIO BUTTONS ===== */
.buttons-list {
  display: flex;
  width: 572px;
  padding-left: 310px;
  padding-bottom: 34px;
}
.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}
.buttons-list-btn {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.buttons-list-btn:hover,
.buttons-list-btn:focus {
  background-color: var(--color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ===== END PORTFOLIO BUTTONS ===== */

/* ===== PORTFOLIO GALLERY ===== */
.portfolio-list-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-list-border-bottom {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
.portfolio-list-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}
/* ===== END PORTFOLIO GALLERY ===== */
