@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/container";
@import "./base/section";

@import "./components/logo";
@import "./components/modal-btn";
@import "./components/social-links";
@import "./components/title";
@import "./components/description";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/newsletter";

@import "./layouts/menu";
@import "./layouts/header";
@import "./layouts/article";
@import "./layouts/what-we-do";
@import "./layouts/about-us";
@import "./layouts/clients";
@import "./layouts/footer";

@import "./pages/portfolio";
@import "./pages/portfolio-btns";
@import "./pages/portfolio-description";
