.article__description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .what-we-do__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }
  .about-us__description {
    padding-top: 10px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  