.btn {
  font-weight: 600;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  background-color: $color;
  color: $light-theme;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.header__btn {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 0 41px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newsletter__btn {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
