.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  color: $social-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color;
    color: $light-theme;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
.foo__social__list {
  display: flex;
}
.foo__social__item:not(:last-child) {
  margin-right: 10px;
}
.foo__social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color;
  }
}
.foo__social__icon {
  width: 20px;
  height: 20px;
  fill: $light-theme;
}
