.header__title {
  font-size: 26px;
  line-height: 1.615;
  max-width: 365px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: $light-theme;
  padding-top: 118px;
  padding-bottom: 30px;
}

.article__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}
.what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.about-us__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.clients__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.179;
  padding-bottom: 30px;
}
.foo-right-side__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: $light-theme;
  display: block;
  padding-bottom: 20px;
}
.bottom-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .article__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    padding-top: 200px;
  }
  .clients__title {
    padding-bottom: 50px;
  }
}
