:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --color: #2196f3;
    --main-color: #212121;
  }
  
  body {
    font-family: var(--main-font);
    color: var(--main-color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    padding: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  img {
    display: block;
  }
  .navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link-google-maps:hover,
.address-list-link-google-maps:focus {
  color: var(--color);
}