.container {
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;

    .menu & {
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header & {
      min-height: 400px;
    }
  }
}
// .container {
//   max-width: 1200px;
//   margin: 0 auto;

//   .header & {
//     height: 600px;
//   }
//   .menu & {
//     height: 80px;
//   }
//   .article & {
//     width: 1200px;
//     padding-bottom: 0;
//   }
//   .foo & {
//     padding-top: 60px;
//   }
// }
