.bottom-card__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin: 0px;
}
.overlay__description {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: $light-theme;
  position: absolute;
  top: 77px;
  left: 24px;
  margin: 0;
  max-width: 402px;
  min-height: 140px;
}
