.portfolio-list__description {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
  }
  .overlay-description {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: #ffffff;
    position: absolute;
    top: 49px;
    left: 24px;
    width: 301px;
    margin: 0;
  }