$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$color: #2196f3;
$main-color: #212121;
$main-color-dark: #ffffff;
$secondary-color: #757575;
$dark-theme: #000000;
$light-theme: #ffffff;
$social-color: #afb1b8;
$bakcground-color: #f5f4fa;
$foo-background: #2f303a;
