.about-us {
  background: $bakcground-color;
}

.about-us__item {
  background: $light-theme;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about-us__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.about-us__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-us__item {
    max-width: 354px;
    margin-bottom: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2-30px);
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-us__item {
    max-width: 270px;
  }
}
