.clients__list {
  display: flex;
  flex-wrap: wrap;
}
.clients__item {
  &:nth-child(2n + 1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &:nth-child(5) {
    margin-bottom: 0px;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $social-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color;
    border: 1px solid $color;
  }
}
.clients__logo {
  fill: currentColor;
}

// .clients__item:not(last-child) {
//   margin-right: 30px;
// }
