.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $social-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color;
    border: 1px solid $color;
  }
}
.clients__logo {
  fill: currentColor;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .clients__item {
    &:nth-child(odd) {
      margin-right: 30px;
      margin-bottom: 30px;
    }
    flex-basis: calc(100% / 2 - 30px);
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .clients__list {
    margin-right: -30px;
    margin-bottom: -30px;
    .clients__item {
      margin-right: 30px;
      margin-bottom: 30px;
      flex-basis: calc(100% / 3 - 30px);
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__link {
    max-width: 170px;
  }
}
