.foo {
  background: $foo-background;
  padding-bottom: 60px;
}
.foo__wrapper {
  text-align: center;
  & .logo {
    margin-right: 0px;
  }
}
.address {
  padding-top: 20px;
  padding-bottom: 60px;
}
.address__item:not(:first-child) {
  padding-top: 8px;
}
.address__link,
.address__maps-link {
  font-family: $main-font;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $color;
  }
}
.address__maps-link {
  color: $light-theme;

  &:hover,
  &:focus {
    color: $color;
  }
}
.foo-right-side {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .foo__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
