.header {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header/header-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .header {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header/header-bg-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header/header-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header/header-bg-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header/header-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .header {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header/header-bg-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
  }
}
