.bar::after {
    content: "";
    width: 58px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    bottom: -32px;
    left: 0;
  }
  .bar-agency::after {
    content: "";
    width: 53px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    bottom: -32px;
    left: 0;
  }
  .icon-navi {
    margin-right: 10px;
    fill: currentColor;
  }
  .head-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  .head-section {
    border-bottom: 1px solid #ececec;
  }
  .navigation {
    display: flex;
  }
  .navigation-list,
  .contact-list {
    display: flex;
    align-items: center;
  }
  .logo-link:not(:last-child) {
    margin-right: 93px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation-list-item {
    position: relative;
  }
  .contact-list-item:not(:first-child) {
    margin-left: 50px;
  }
  .navigation-list-link,
  .contact-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link {
    color: #212121;
  }
  .contact-list-link {
    color: #757575;
  }